$color-black: #111111;
$color-white: #ffffff;
$color-0: #3a3a3a;
$color-1: #575757;
$color-2: #929292;
$color-3: #C4C4C4;
$color-4: #E3E3E3;
$color-5: #eeeeee;
$color-6: #f7f7f7;

$color-a: #0984e3;
$color-b: #00b894;
$color-c: #d63031;
$color-d: #6c5ce7;
$color-e: #e17055;
$color-f: #74b9ff;
$color-g: #dfe6e9;
$color-h: #b2bec3;
