<div
  class="header"
  (mousedown)="headerDown($event)"
>
  <div
    *ngIf="!windowData.isDisabledSelect && windowData.select"
    class="select"
    (mousedown)="$event.stopPropagation(); isItemDown = true;"
  >
    <div class="select-text">{{ selectText }}</div>
    <div class="select-icon">
      <svg-icon src="/assets/image/icon/header-arrow.svg"></svg-icon>
    </div>
    <select
      [(ngModel)]="windowData.select.value"
      (change)="updateSelect()"
    >
      <ng-container *ngFor="let option of windowData.select.options">
        <option [value]="option.value">{{ option.text }}</option>
      </ng-container>
    </select>
    <!-- <select>
      <option value="Easy">Easy</option>
      <option value="Normal">Normal</option>
      <option value="Hard">Hard</option>
    </select> -->
  </div>
  <div
    *ngIf="windowData.isDisabledCollapse"
    class="icon"
    (mousedown)="isItemDown = true"
    (click)="onClickCollapse.emit(windowData.id);"
  >
    <svg-icon src="/assets/image/icon/header-collapse.svg"></svg-icon>
  </div>
  <div
    *ngIf="windowData.isDisabledZoom"
    class="icon"
    (mousedown)="isItemDown = true"
    (click)="onClickZoom.emit(windowData.id);"
  >
    <svg-icon src="/assets/image/icon/header-zoom.svg"></svg-icon>
  </div>
  <div
    *ngIf="windowData.isDisabledClose"
    class="icon"
    (mousedown)="isItemDown = true"
    (click)="onClickClose.emit(windowData.id)"
  >
    <svg-icon src="/assets/image/icon/header-cross.svg"></svg-icon>
  </div>
</div>
<div class="body">
  <ng-template #bodyContent></ng-template>
</div>

<ng-container *ngIf="!windowData.isDisabledControlSize">
  <div
    class="size-control top"
    (mousedown)="sizeControlDown(SizeControlType.Top, $event)"
  ></div>
  <div
    class="size-control top-right"
    (mousedown)="sizeControlDown(SizeControlType.TopRight, $event)"
  ></div>
  <div
    class="size-control right"
    (mousedown)="sizeControlDown(SizeControlType.Right, $event)"
  ></div>
  <div
    class="size-control bottom-right"
    (mousedown)="sizeControlDown(SizeControlType.BottomRight, $event)"
  ></div>
  <div
    class="size-control bottom"
    (mousedown)="sizeControlDown(SizeControlType.Bottom, $event)"
  ></div>
  <div
    class="size-control bottom-left"
    (mousedown)="sizeControlDown(SizeControlType.BottomLeft, $event)"
  ></div>
  <div
    class="size-control left"
    (mousedown)="sizeControlDown(SizeControlType.Left, $event)"
  ></div>
  <div
    class="size-control top-left"
    (mousedown)="sizeControlDown(SizeControlType.TopLeft, $event)"
  ></div>
</ng-container>
