<div class="container">
  <div class="dasktop-item-container">
    <app-desktop-item
      [icon]="''"
      [name]="'Minesweeper'"
      (onDblclick)="createMinesweeper($event)"
    ></app-desktop-item>
    <app-desktop-item
      [icon]="''"
      [name]="'Minesweeper'"
      (onDblclick)="createMinesweeper($event)"
    ></app-desktop-item>

  </div>
  <ng-container *ngFor="let window of windowList">
    <app-window
      [windowData]="window"
      [openRect]="window.openRect"
      [isCollapse]="window.isCollapse"
      (click)="toTop(window.id)"
      (collapseClick)="collapseWindow($event)"
      (zoomClick)="''"
      (closeClick)="closeWindow($event)"
      (updateOpenRect)="updateOpenRect(window, $event)"
    ></app-window>
  </ng-container>
</div>

<div class="bar">
  <app-task-bar>
    <ng-container *ngFor="let item of barItemList">
      <app-bar-item
        [id]="item.id"
        [icon]="item.icon"
        [name]="item.name"
        (onItemClick)="itemClick($event)"
      ></app-bar-item>
    </ng-container>
  </app-task-bar>
</div>
