<app-tool-list
  *ngIf="isOpenToolList"
  [toolList]="toolList"
  (putClose)="isOpenToolList = false"
></app-tool-list>
<div class="ber-container">
  <div
    class="logo"
    [ngClass]="{
      active: isOpenToolList
    }"
    (click)="isOpenToolList = !isOpenToolList"
  >
    <svg-icon [src]="assetsPath + '/image/icon/logo.svg'"></svg-icon>
  </div>
  <div
    #itemContainer
    class="item-container"
    [ngClass]="{ over: isOver }"
  >
    <ng-container *ngFor="let barItem of barItemList; let i = index">
      <ng-container *ngIf="i < maxItemLength">
        <div
          #barItemDOM
          class="bar-item"
          [ngClass]="{ focus: barItem.isFocus }"
          (click)="itemClick(barItemDOM, i, barItem.id)"
        >
          <div class="icon"><img
              [src]="barItem.icon"
              alt=""
            ></div>
          <div class="name">{{barItem.name}}</div>
        </div>
      </ng-container>
    </ng-container>
    <div
      #more
      *ngIf="isOver"
      class="more-item"
      [ngClass]="{
        'show': isShowMore,
        'active': isFocusInMore
      }"
      (click)="moreClick()"
      (mouseenter)="moreEnter()"
      (mouseleave)="moreLeave()"
    >
      <div class="dot"></div>
      <div
        class="more-container"
        [ngStyle]="{ 'height': moreContainerHeight}"
      >
        <perfect-scrollbar>
          <ng-container *ngFor="let barItem of barItemList; let i = index">
            <ng-container *ngIf="i >= maxItemLength">
              <div
                #barItemDOM
                class="bar-item"
                [ngClass]="{ focus: barItem.isFocus }"
                (click)="itemClick(barItemDOM, i, barItem.id)"
              >
                <div class="icon"><img
                    [src]="barItem.icon"
                    alt=""
                  ></div>
                <div class="name">{{barItem.name}}</div>
              </div>
            </ng-container>
          </ng-container>
        </perfect-scrollbar>
      </div>
    </div>
  </div>
  <div class="info-container">
    <div class="time">
      <div class="now">{{hour}}<span>:</span>{{minute}}</div>
      <div class="today">{{today}}</div>
    </div>
  </div>
</div>
