<div class="tool-container">
  <div class="nav-dot-list">
    <perfect-scrollbar #dotScrollContainer>
      <div class="scroll-container">
        <ng-container *ngFor="let key of toolGroupKeyList; let i = index;">
          <div
            #dot
            class="dot-hover"
            [ngClass]="{
              focus: focusIndexList[i],
              'sub-focus': subFocusIndexList[i] || subHoverIndexList[i]
            }"
            (mouseenter)="setSubHoverIndexList(i)"
            (mouseleave)="subHoverIndexList = []"
            (click)="scrollTo(i)"
          >
            <div class="dot"><span class="text">{{key}}</span></div>
          </div>
        </ng-container>
      </div>
    </perfect-scrollbar>
  </div>
  <div class="tool-item-list">
    <perfect-scrollbar
      #toolScrollContainer
      (psScrollY)="updateFocus()"
    >
      <div class="scroll-container">
        <ng-container *ngFor="let key of toolGroupKeyList">
          <div
            #toolGroup
            class="tool-group"
          >
            <div class="group-title">{{key}}</div>
            <ng-container *ngFor="let toolData of toolGroupList[key]">
              <div #item class="tool-item" (click)="itemClick(item, toolData)">
                <div class="icon"><img
                    [src]="toolData.icon.min"
                    alt=""
                  ></div>
                <div class="title">{{toolData.name}}</div>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </perfect-scrollbar>
  </div>
</div>
