<div class="desktop-container">
  <div
    class="background"
    (click)="allWindowBlur()"
  ></div>
  <div class="container">
    <div class="dasktop-item-container">
      <ng-container *ngFor="let desktopItem of desktopItemList">
        <app-desktop-item
          [icon]="desktopItem.toolBaseInfo.icon.default"
          [name]="desktopItem.toolBaseInfo.name"
          (click)="allWindowBlur()"
          (onDblclick)="desktopItem.onDblclick($event)"
          (onContextmenu)="desktopItem.rightClick($event)"
        ></app-desktop-item>
      </ng-container>
    </div>
    <ng-container *ngFor="let window of windowList">
      <app-window
        [ngStyle]="{'z-index': zIndexMapping[window.id]}"
        [windowData]="window"
        [openRect]="window.openRect"
        [isCollapse]="window.isCollapse"
        [isFocus]="window.isFocus"
        [isWidthFull]="window.isWidthFull"
        [isHeightFull]="window.isHeightFull"
        [content]="window.content"
        (click)="toTop(window.id)"
        (onClickCollapse)="collapseWindow($event)"
        (onClickZoom)="zoomWindow(window)"
        (onClickClose)="closeWindow($event)"
        (onUpdateSelect)="updateSelect(window, $event)"
        (onUpdateOpenRect)="updateOpenRect(window, $event)"
      ></app-window>
    </ng-container>
  </div>
  <div class="bar">
    <app-task-bar [toolList]="toolList">
      <ng-container *ngFor="let item of barItemList; let i = index">
        <app-bar-item
          [id]="item.id"
          [icon]="item.icon"
          [name]="item.name"
          [isFocus]="
            windowList[i].isFocus
          "
          (onClickItem)="itemClick($event)"
          (onClickClose)="closeWindow($event)"
          (onClickCenter)="windowToCenter($event)"
        ></app-bar-item>
      </ng-container>
    </app-task-bar>
  </div>
</div>
